header{
	background-image: "img/marcagrande.png";
	background-repeat: no-repeat;
	background-position:center;
}

.menu-big {
font-size: 18px;
width: 60%;
height: 30px;
}

.menu-little {
font-size: 14px;
width: 60%;
height: 20px;
position: fixed;
top: 0;
}




