.menu-little {
color:#FFF;
display: inline-block;
font-size: 14px;
width: 50%;
height: 30px;
}

header{
	background-image: url(../img/marcagrande.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 800px;
}

