@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

body {
	background: #FFF;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	width: 70%; 
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

h1, h2, h3, h4 {
	font-family:"Patrick Hand";
}


.containerbig {
 clear:both;
 overflow:hidden;
 width:100%;
 text-align: center;
}

.menu-big {
color:#FFF;
display: inline-block;
text-align: center;
}

.menu-big li{
display: inline-block;	
padding:0px;
}

.menu-big li a{
text-decoration: none;
color:#8C1B14;	
text-transform: uppercase;
font-weight: bold;
margin:0 auto;
padding:0;
position:relative;
}

.containerlittle{
position: absolute;
clear:both;
overflow:hidden;
width:100%;
}

.menu-little {
position: absolute;
color:#FFF;
display: inline-block;
background-color: #FFF;
}

.menu-little li{
display: inline-block;	
padding:0px;
}

.menu-little li a{
text-decoration: none;
color:#8C1B14;	
text-transform: uppercase;
font-weight: bold;
}

.inicio{
background-color:#FEF5B2;
}

.info-inicio{
text-decoration: none;
color:#8C1B14;	
font-weight: bold;
margin:0 auto;
padding:0;
font-family:"Patrick Hand";
}

.nuestrahistoria{
	background-color:#FBD8C1; 
}

.nuestrostrabajos{
	background-color:#FCDDA8;
}

.contacto{
	background-color:#FEF5B2;
}
