
.marcagrande{
	padding: 150px 0px 0px 0px;
}

.menu-big {
font-size: 18px;
}

.menu-little {
font-size: 14px;
width: 60%;
height: 50px;
position: fixed;
top: 0;
}

header{
	background-size: 100%;
	width: 100%;
	height: 450px;
}

.containerbig{
	width: 100%;
	height: 250px;
}
.inicio{
	background-size: 600px;
	width: 100%;
	height: 800px;
}

.nuestrahistoria{
	background-color:#FBD8C1; 
	width: 100%;
	height: 800px;
}

.nuestrostrabajos{
	background-color:#FCDDA8;
	width: 100%;
	height: 800px;
}

.fotorama{
	width: 70%;
	height: 400px;
}







