@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

body {
	background: orange;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	width: 70%; 
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

h1, h2, h3, h4 {
	font-family: "Patrick+Hand";

}