@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


body {
background: #FFF;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 14px;
width: 80%; 
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}

h1, h2, h3, h4 {
font-family: 'Droid Serif', serif;
font-style: italic;
font-weight: bold;
text-decoration: none;
color:#8C1B14;
}

h1{
font-size: 21px;
padding-left: 70px;
font-weight: bold;
}

h2{
font-size: 18px;
}

h3{
font-size: 14px;
}

a:hover{   
border-bottom: 2px solid #8C1B14;
}

.marcagrande{
padding: 150px 0px 0px 0px;
}

.marcagrande img{
height: 259px;
padding-left: 20px;
}

.containerlittle{
position: fixed;
top: 0;	
display: inline-block;
background-color: #FFF;
font-size: 16px;
height: 60px;
margin-top: 0px;
padding: 15px 20px 10px 20px;
text-align: right;
width: 77%;
}

.menu-little {
color:#FFF;
display: inline-block;
font-size: 16px;
height: 60px;
margin-top: 0px;
padding: 15px 20px 10px 20px;
text-align: right;
margin-right: 10px;
}

.menu-little li{
display: inline-block;
padding-right: 20px;
padding-top: 20px;
}

.menu-little li a{
text-decoration: none;
color:#8C1B14;	
text-transform: uppercase;
font-weight: bold;
}

<<<<<<< Updated upstream
.menu-little img {
<<<<<<< Updated upstream
height:64px;
=======
height:55px;
=======
.containerlittle {
>>>>>>> Stashed changes
>>>>>>> Stashed changes
position: absolute;
left: 0px;
top:10px;
padding-left: 65px;
}

header{
background-size: 100%;
width: 100%;
height: 420px;
}

.containerbig {
clear:both;
overflow:hidden;
width:100%;
text-align: center;
width: 100%;
height: 250px;
padding-top: 10px;
}

.logo {
width: "380px"; 
height: "250px";
}

.menu-big {
font-size: 16px;
color:#FFF;
<<<<<<< Updated upstream
display: inline-block;
text-align: center;
}

.menu-big li{
=======
background-color: #FFF;
}

.containerlittle li{
>>>>>>> Stashed changes
display: inline-block;	
padding: 0px 20px 0px 0px;  
}

<<<<<<< Updated upstream
.menu-big li a{
=======
.containerlittle li a{
>>>>>>> Stashed changes
text-decoration: none;
color:#8C1B14;	
text-transform: uppercase;
font-weight: bold;
margin:0 auto;
padding:0;
position:relative;
}

.tablecero{
width: 100%;
height: 10px;
clear: both;
}

.tablecero .color{
background-color:#FBE0C5;
width: 10px;    
}

.tablecero .vacio{
width: 10px;
background-color:#FFF;
}

#contacto{
background-color:#FBD8C1;
background-size: 600px;
width: 100%;
height: 800px;
padding-top: 90px;
}


#inicio{
background-color:#FBE0C5;
width: 100%;
height: 630px;		
text-align: justify;
}

.descripcion{
width: 85%;
height: 100px;
font-family: 'Droid Serif', serif;
font-style: italic;
text-decoration: none;
color:#8C1B14;
font-size: 18px;
text-align: justify;
padding-bottom: 90px;
padding-top: 80px;
font-weight: bold;
}

.descripcion p{
text-align: center;
margin-left: 150px;
}

.origenes{
padding: 0px 40px 0px 40px;
}

.origenes h2{
text-align: left;
}

.origenizquierdo{
float: left;
width: 45%;
margin-right: 0px;
padding: 0px 0px 0px 30px;
}

.origenderecho{
float: right;
width: 45%;
padding: 0px 30px 0px 0px;
}

.info-inicio{
text-decoration: none;
color:#8C1B14;	
margin:0 auto;
padding:0;
font-family:"Open Sans";
}

.tableuno{
width: 100%;
height: 10px;
clear: both;
}

.tableuno .color{
background-color:#FFF9C7;
width: 10px;    
}

.tableuno .vacio{
width: 10px;
background-color:#FBE0C5;    
}

#nuestrahistoria{
background-color:#FFF9C7; 
width: 100%;
height: 835px;
display: inline-block;
padding-top: 90px;
}

.fotoshistoria{
    float: left;
    padding-left: 50px;
    width: 28%;
}

.fotoshistoria img{
width: 265px;
height: 205px;
display: block;
margin: 15px;
float: left;
border-radius: 10px;
}

.titulosformacion{
text-align: left;
}

.formacionizquierda{
    float: left;
    padding-left: 25px;
    text-align: justify;
    width: 28%;
}

.formacionderecha{
    display: inline-block;
    float: right;
    padding-right: 70px;
    text-align: left;
    width: 27%;
}

.participaciones{
width: 53%;
height: 185px;
float: right;
background-color:#FCDDA8;
border-radius: 10px;
margin-right: 70px;
padding: 20px 30px 0px 30px;
text-align: justify;
}

.tabledos{
width: 100%;
height: 10px;
clear: both;
}

.tabledos .color{
background-color:#FFE5B3;
width: 10px;    
}

.tabledos .vacio{
width: 10px;
background-color:#FFF9C7;    
}

#nuestrostrabajos{
background-color:#FFE5B3;
width: 100%;
height: 640px;
padding-top: 90px;
}

.titulonuestrostrabajos{
width: 25%;
}

.menufotorama{
width: 20%;
float: left;
padding-left: 40px;
padding-top: 30px;
}

.menufotorama ul li{
color:#8C1B14;	
font-weight: bold;
padding: 5px 0px 20px 0px;
cursor: pointer;
}

.menufotorama ul{
 list-style: none;
}

.menufotorama .ul .li [data-show]:hover{
background-color:#099;
color:#CCC;
width: 50px;
height: 50px;
}

.fotorama{
width: 63%;
height: 450px;
border-radius: 30px;
float: right;
background-color: #FFF;
margin-right: 70px;
margin-top: 40px;
z-index: 1;
}

#fotorama1 img{
    z-index: 1;
}

.tabletres{
width: 100%;
height: 10px;
clear: both;
}

.tabletres .color{
background-color:#FBE0C5;
width: 10px;    
}

.tabletres .vacio{
width: 10px;
background-color:#FFE5B3;  
}

#contacto{
background-color:#FBE0C5;
background-size: 600px;
width: 100%;
height: 800px;
padding-top: 90px;
}
